<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Book</title>
    </head>
    <body>
        <header style="display: flex; justify-content: flex-end; border-bottom:1p solid black;">
            <p><a href="/success/{{this_user.id}}">Back</a>  <a href="/log_out">Log Out</a></p>
        </header>
        <main>
            <h1>Edit My Account</h1>
            <form action="/quotes/{{this_user.id}}/update" method="post">
                {% csrf_token %}
                <label>First Name <input type="text" name="first_name" value="{{this_user.first_name}}"></label>
                <p>Last Name <input type="text" name="last_name" value="{{this_user.last_name}}"></p>
                <p>Email <input type="email" name="email" value="{{this_user.email}}"></p>
                <button type="submit">Update</button>
            </form>
        </main>
        <footer>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </footer>
    </body>
</html>