<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Favorites</title>
</head>
<body>
    <header style="display: flex; justify-content: flex-end; border-bottom:1p solid black;">
        <p><a href="/success/{{this_user.id}}">Back</a>  <a href="/log_out">Log Out</a></p>
    </header>
    <h3>{{this_user.first_name}} {{this_user.last_name}}'s Quotes</h3>
    <ul>
    {% for quote in all_quotes %}
    <li>{{quote.author}}</li>
        <ul>
            <li>{{quote.quote}}</li>
        </ul>
    {% endfor %}
    </ul>
</body>
</html>